body {
  margin: 0;
  font-size: 1.5em;
  font-family: sans;
}
canvas {
  /*border: 1px solid;*/
  width: 50%;
}
table {
  border-collapse: collapse;
}
table, button, select, input {
  font-size: 1em;
}
input[type="checkbox"] {
  width: 1em;
  height: 1em;
}
table, td, th {
  border: 1px solid;
}
#checkboxdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
